html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body{
	font-family: Arial, sans-serif;
}

main{
	margin: 0 25px;
}

.singleton{
	width: 250px;
	margin: 0 auto;
	padding-top: 20px;
}

.status{
	margin: 10px;
	padding-bottom: 30px;
}
.status p{
	display: inline-block;
}
.status span{
	padding-left: 5px;
}
.status p:first-child{
	float: left;
}
.status p:last-child{
	float: right;
	margin-right: -20px;
}

h1{
	font-family: "Arial Black";
	font-size: 24px;
	padding: 10px;
	margin-top: 10px;
}

.people{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.person{
	background: #ccc;
	width: 250px;
	padding: 10px;
	margin: 10px;
}

.photo{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: solid 1px white;
	padding: 20px 0 30px 0;
}

.photo>img{
	height: 175px;
	width: 175px;
	border-radius: 100%;
	border: solid 3px white;
	margin: 0 auto;
}

.info{
	border-bottom: solid 1px white;
	padding: 5px;
	font-weight: bold;
	color: #333;
	font-size: 10px;
	line-height: 24px;
}

.info>p>span{
	padding-left: 5px;
	font-weight: normal;
	font-size: 12px;
}

#name{
	text-transform: capitalize;
}
.buttons{
	display: flex;
	justify-content: space-around;
	padding: .5rem;
}

.cross, .check{
	border: none;
	font-size: 1.2rem;
	padding: .25rem 1rem;
	border-radius: 5px;
	color: white;
}

.cross:focus, .check:focus{
	outline: none;
}

.cross{
	background: red;
}

.cross:active{
	background: #800000;
}
.check{
	background: green;
}
.check:active{
	background: #004400;
}














